extends layout

block content
	.row
		.col-md-4
			h1 About this page
			hr
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto veniam nesciunt, adipisci. Deleniti, architecto quisquam et eligendi necessitatibus quae ullam cum omnis quia nostrum aspernatur reprehenderit inventore, a magni quidem.
		.col-md-8
			h1 With this custom template
			hr
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, dignissimos! Hic accusantium, mollitia vel sint dolorum dicta ab beatae repudiandae obcaecati maiores eos, nobis ipsa voluptatem id quaerat, sit aliquid.